<p id="notice"><%= notice %></p>

<p>
  <strong>User_id:</strong>
  <%= @user_leave.user_id %>
</p>
<p>
  <strong>User_Name:</strong>
  <% @user=User.find(@user_leave.user_id) %>
  <%= @user.name %>
</p>
<p>
  <strong>Leave type:</strong>
  <%= @user_leave.leave_type %>
</p>

<p>
  <strong>Leave taken:</strong>
  <%= @user_leave.leave_taken %>
</p>

<p>
  <strong>Leave left:</strong>
  <%= @user_leave.leave_left %>
</p>

<%= link_to 'Edit', edit_user_leave_path(@user_leave) %> |
<%= link_to 'Back', user_leaves_path %>
