



<%= form_for(@leave) do |f| %>
  <% if @leave.errors.any? %>
    <div id="error_explanation" style="border-radius: 10px;padding: 6px;margin-left: 430px;">
      <h2 style="text-align: center;"><%= pluralize(@leave.errors.count, "error") %> prohibited this leave from being saved:</h2>

      <ul>
      <% @leave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table style="margin-left: 100px">
<tr>
  <td>
  <div class="field">

    <%= f.label :leave_type %>
    <!--<#%= f.text_field :leave_type %> -->
   <%= f.select :leave_type, ['choose leave_type', 'CL', 'SL', 'PL', 'ML','UL'] %>
&nbsp;&nbsp;&nbsp;
  </div>
  </td>


  <td>
  
  <div class="field">
  <%= f.label :from_date %>
  
  <%= f.date_select :from_date %>
  &nbsp;&nbsp;&nbsp;
  </div>
 </td>
 <td>
 
  <div class="field">
  <%= f.label :to_date %>
  
  <%= f.date_select :to_date %>
  &nbsp;&nbsp;&nbsp;
  </div>
 </td>
 
 
 <td>
  <div class="actions" >
    <%= f.submit %>
  </div>
  </td>
  </tr>
  </table>
  <% @lvs= current_user.leaves %>
  <%= month_calendar events: @lvs do |date, lvs|  %>
    <%= date %>
    <% lvs.each do |lv| %>
    
        <% if lv.status == true %>
            <%= lv.leave_type %>  for <%= lv.duration %> days approved

        <% else %>
            <%= lv.leave_type %> approval for <%= lv.duration %> day is pending

        <% end %>

  <% end %>

<% end %>
<% end %>
